@inherits LayoutComponentBase
<div class="top-bar">
    <NavLink href="" class="nav-tab" Match="NavLinkMatch.All">
        <div>
            Home
        </div>
    </NavLink>

    <NavLink href= "account" class="nav-tab">
        <div>
            My Account
        </div>
    </NavLink>

    @*<LoginDisplay />*@
</div>

<div class="content">
    @Body
</div>
